### DJANGO ###


*.log
*.pot
*.pyc
__pycache__/
local_settings.py

### CONDA ###

.env

### PYTHON CACHE ###

__pycache__/
*.py[cod]

### EXTERNAL DRIVE ###

.Spotlight-V100
.Trashes

### THUMBAILS ###
._*

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
*.pyc
Process/__pycache__/views.cpython-38.pyc
Process/__pycache__/urls.cpython-38.pyc
Process/__pycache__/settings.cpython-38.pyc
Process/__pycache__/forms.cpython-38.pyc
core/migrations/__pycache__/__init__.cpython-38.pyc
core/migrations/__pycache__/0001_initial.cpython-38.pyc
core/__pycache__/models.cpython-38.pyc
core/__pycache__/apps.cpython-38.pyc
core/__pycache__/admin.cpython-38.pyc
core/__pycache__/__init__.cpython-38.pyc
