{% extends "base.html" %}
{% load static %}
<!doctype html>
<html lang="en">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}Registro Ari-J{% endblock %}</title>
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    
    <div class="row justify-content-center">
        <div class="col-md-3" id="tituloreg">
            {% if messages %}
                
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
          </div>
                {% endfor %}
    
    {% endif %}
            <form action="" method="post">

                {% csrf_token %}
                {{ form | crispy }}
                
                <a href="{% url 'password_reset'  %}">¿Olvidaste tu contraseña?</a>
                <button type="submit" class="btn btn-success" value="ingresar">Iniciar Sesión</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}