.footer {

    width: 100%;
    background-color: rgb(15, 99, 209);
    color: white;
    text-align: center;
  }

#columnas {
    padding: 10px 10px;

  }
#titulo {
    padding: 15px 30px 0px;
  }

#tituloreg {
    padding: 15px 30px 15px;
  }

  #titulotab {
    padding: 30px 30px 0px;
  }

#boton_tarea {
padding: 15px 15px;
}



#tareas {
    padding: 0px 15px;

    }

#boton_tarea {
    
    }

    .horizontal-scrollable > .row {
      overflow-x: auto;
      white-space: nowrap;
  }
    
  .horizontal-scrollable > .row > .col-xs-4 {
      display: inline-block;
      float: none;
  }

  #footer {
    padding: 30px 30px;

  }

  #Separacion_titulos {
    padding: 30px 30px;

  }