{% load static %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <nav class="navbar navbar-dark navbar-expand-md bg-primary justify-content-center">
      <div class="container">
      <a href="{% url 'inicio' %}"> <img src="{% static 'img/minilogo.png' %}" class="navbar-brand d-flex w-50 me-auto" href="inicio.html"> </a>
      <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
        </button>
          <ul class="navbar-nav w-100 justify-content-begin">
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'inicio' %}">Inicio</a>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Tablero y Tareas</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'crear_tablero' %}">Crear Tablero</a></li>
                    <li><a class="dropdown-item" href="{% url 'crear_tarea' %}">Crear Tarea</a></li>
                    <li><a class="dropdown-item" href="{% url 'tarea_tipo' %}">Crear Tarea Tipo</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'crear_documento' %}">Crear Documento</a></li>
                  </ul>
                </li>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Flujos y Métricas</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'crear_flujo' %}">Crear Flujo</a></li>
                  <li><a class="dropdown-item" href="{% url 'ejecutar_flujo' %}">Ejecutar Flujo</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'calcular_carga' %}">Calcular Carga</a></li>
                  <li><a class="dropdown-item" href="{% url 'calcular_avance' %}">Calcular Avance</a></li>
                </ul>
              </li>
            </li>
              
              {% if user.is_authenticated %}
              <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
              
                
                <a class="nav-link" href="#" >@{{ user.username }}</a>
              
              </ul>
              {% else %}
              <ul class="nav navbar-nav ms-auto w-100 justify-content-end"></ul>
              <li class="nav-item active">
                <a class="nav-link " href="{% url 'registro' %}">Registrarse</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link " href="{% url 'login' %}">Ingresar</a>
              </li>
            </ul>
              {% endif %}
       
</div>
</div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

 