{% extends "base.html" %}
{% load static %}
<!doctype html>
<html lang="en">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}Calcular Carga Ari-J{% endblock %}</title>
{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 my-5">
             <h1 style="font-size: 42;">Calcular Carga</h1>
             cantidad_tareas = {{cantidad_tareas}}

        </div>
    </div>
</div>
{% endblock %}

</html>

