{% load static %}
<!doctype html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/tablero.css' %}">
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js" integrity="sha512-5vwN8yor2fFT9pgPS9p9R7AszYaNn0LkQElTXIsZFCL7ucT8zDCAqlQXDdaqgA1mZP47hdvztBMsIoFxq/FyyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script>
            $(document).ready(function(){

            
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Tareas en proceso: '+ {{tareas_encurso}}, 'Tareas Finalizadas: ' +{{tareas_finalizadas}}],
                datasets: [{
                    label: '# of Votes',
                    data: [{{tareas_encurso}}, {{tareas_finalizadas}}],
                    backgroundColor: [
                        'rgba(50, 207, 18, 1)',
                        'rgba(213, 19, 19,1)'
            
                    ],
                    borderColor: [
                        'rgba(0, 0, 0, 1)',
                        'rgba(0, 0, 0, 1)'
 
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        });
        </script>

      <title>{% block title %}Calcular Avance Ari-J{% endblock %}</title>
    </head>
<body>
    {% include "barmenu.html" %}
    {% block content %}
    <div class="row justify-content-center align-items-center mt-5">
    <div class="col-3 my-5">
        <div class="text-center">
            <h1 style="font-size: 42;">Cálculo Avance</h1>
               <h3> Usuario: {{ user.username }}</h3>
              <h4> Total Tareas: {{cantidad_tareas}}</h4>
    <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    </div>
    {% endblock %}
    <footer class="footer" id="footer">

        <div class="container">
         
          <span>Ari-J Todos los Derechos Reservados.</span>
        </div>
      </footer>
      
      
      <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
      <script>
              var popoverTriggerList = [].slice.call( document.querySelectorAll( '[data-bs-toggle="popover"]' ) );
              var popoverList = popoverTriggerList.map( function( popoverTrigger )
              {
                  return new bootstrap.Popover( popoverTrigger );
              });
              </script>
    </body>
</html>
