{% extends "base.html" %}
{% load static %}
<!doctype html>
  <html lang="en">
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}Inicio Ari-J{% endblock %}</title>
      {% block content %}
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="{% static 'js/confirmacion.js' %} "></script>
      <div class="container">
      <h2>Tablero</h2>
      <a href="#" onclick="confirmarAgregar({{ co.id_columna }})"  class="btn btn-primary" role="button" aria-pressed="true">Columna +</a>
      </div>
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Crear Columna
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Nombre Columna</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <table class="table table-bordered table-striped text-center"> 
                            {{ crear_columnas.as_table }} 
                        </table> 
                        <br>
                        <input type="submit" value="Guardar">
                        <input type="reset" value="Limpiar">
                    </form>
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary">Crear</button>
                </div>
            </div>
            </div>
        </div>
      <div class="container">
          
        <div class="row">
               
                {% for co in columnas %}
                <div class="col-4" id="columnas">
                    <div class="row align-items-start">
                    <p><strong>NOMBRE COLUMNA: </strong>{{ co.nombre }}</p>
                    <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Crear Columna" data-bs-content="And here's some amazing content. It's very engaging. Right?">Crear Columna</button>

                    <div class="list-group" id="tareas">
                        <div class="list-group-item">
                            <h5>Tarea prueba</h5>
                        </div>
                        <div class="list-group-item">
                            <h5>Tarea prueba2</h5>
                        </div>
                        <div class="list-group" id="tareas">
                            <div class="list-group-item">
                                <h5>Tarea examen1</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}  
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
      <script src="{% static 'js/options.js' %} "></script>
      {% endblock %}
      
      </html>

