{% extends "base.html" %}
{% load static %}
<!doctype html>
  <html lang="en">
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}Inicio Ari-J{% endblock %}</title>
      {% block content %}
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="{% static 'js/confirmacion.js' %} "></script>
      <div class="container">
      <h2>Tablero</h2>
      <a href="#" onclick="confirmarAgregar({{co.id_columna}})"  class="btn btn-primary" role="button" aria-pressed="true">Columna +</a>
      <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
    </div>
      <div class="container">
          
        <div class="row">
               
                {% for co in columnas %}
                <div class="col-4" id="columnas">
                    <div class="row align-items-start">
                    <p><strong>NOMBRE COLUMNA: </strong>{{ co.nombre }}</p>
                    <div class="list-group" id="tareas">
                        <div class="list-group-item">
                            <h5>Tarea prueba</h5>
                        </div>
                        <div class="list-group-item">
                            <h5>Tarea prueba2</h5>
                        </div>
                        <div class="list-group" id="tareas">
                            <div class="list-group-item">
                                <h5>Tarea examen1</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}  
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
      <script src="{% static 'js/options.js' %} "></script>
      {% endblock %}
      
      </html>

